
html, body {
  height: 100%;
  background-color: #FFFAFA
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.logo-container {
  text-align: center;
  position: relative;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.App-header {
  background-color: #ffffff;
  border-bottom-width: 0.5px;
  border-color: #BBBBBB;
  border-left-width: 0px;
  border-right-width: 0px;
  border-style: solid;
  border-top-width: 0px;
  overflow: visible;
}

.App-link {
  color: #61dafb;
}

.search {
  width: 100%;
  height: 3.1em;
  padding-left: 1em;
  border: none;
  font-size: 0.5em;

}

.card {
  width: 18rem;
  margin: 1em auto;

}


.cards {
  padding-top: 50px;
  margin: auto;
  width: 70%;
 
  display: grid;
   
  grid-template-columns: repeat(3, 1fr);
   
  grid-auto-rows: auto;
   
  grid-gap: 1rem;
   
  }


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
